
<center>
<div>
    <h5>LIKELION 5th_MInhuyn's Test D-Day Count</h5>
    <h2>Let's Asciify!</h2>
</div>
<br>

<form action="asciify/result" method="get">
    <div id="content">
    Select Font : 
    <select name="input_font">
        <option value="standard">Standard Font</option>
        <option value="big">Big Font</option>
        <option value="small">Small Font</option>
    </select>
    <br> <br>
    이름 : <input type="text" name="input_name" placeholder="name"/>
    <br><br>
    전화번호 : <input type="tel" name="input_tel" placeholder="telephone"/>
    <br> <br>
    시험명 : <input type="text" name="input_testname" placeholder="testname"/>
    <br> <br>
    오늘 날짜 : <input type="date" name="input_tdate"/>
    <br> <br>
    시험 날짜 : <input type="date" name="input_testdate"/>
    <br> <br>
    <input type="submit" value="ASCIIFY"/>
    <br>
   </div>
</form>
 
</center>